* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    
.appFrame {
    background-color: rgb(59, 116, 116);
    justify-content: top;
    justify-items: top;
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.appFrame__container {
    background-color: rgb(30, 219, 219);
    justify-content: center;
    justify-items: center;
    align-content: top;
    align-items: center;
    width: 1400px;
    height: 600px;
    margin: 20px;
}

.appFrame__head {
    background-color: rgb(30, 219, 219);
    justify-content: top;
    justify-items: center;
    align-items: center;
    align-content: center;
    text-align: center;
    padding-top: 25px;
    padding-top: 25px;
}

.appFrame__table {
    border: 2px double rgba(230, 241, 241, 0.322);
    border-radius: 19px;
    width: 95%;
    justify-content: top;
    justify-items: center;
    align-items: center;
    align-content: center;
    text-align: center;
    margin: 20px;
    text-align: start;
}